@model LIBMGMT.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/reading-book-illustration_114360-8532.jpg?w=740&t=st=1697698339~exp=1697698939~hmac=8e7a3f63d05389d87481d8b322a1ad9b8111ade11891edbb9f7e9f9d78f33bdf');
            font-family: Arial, sans-serif;
            background-size: cover;
        }

        .container {
            margin-top: 20px;
        }

        h1 {
            font-size: 24px;
        }

        .row {
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Edit Student</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="StudentId" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Student Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label">Gender</label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Course" class="control-label">Course</label>
                        <input asp-for="Course" class="form-control" />
                        <span asp-validation-for="Course" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</body>
</html>
