@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('https://media.istockphoto.com/id/520135192/vector/cartoon-giraffe-holding-a-pile-of-books.webp?s=2048x2048&w=is&k=20&c=NKkxnMOdmt-doddHZdPVYU7ux2De3yaZw1s1J-ar63E=');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .text-center {
            
           
            color: #333;
            padding-top:220px;
        }

        h1.display-4 {
            font-size: 50px;
            font-family: sans-serif;
            
            
        }

        p {
            font-size: 30px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>See What's in Story</p>
    </div>
</body>
</html>
